<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
      <li><a href="http://www.w3cfuns.com/" target="_blank" title="YangJian">前端网</a></li>
      <li><a href="https://github.com/fouber/blog" target="_blank" title="名家博客">精品博文</a></li>
    </ul>
</div>
